url = "/"
layout = "default"
title = "PollinERA"
is_hidden = 0
meta_description = "homepage desc"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[jumbotron]
jumbotron = "what-our-mission"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Articles\Models\Article;
function onStart(){
    $this['highlights'] = Article::news()->where('published', 'true')->descPublished()->take(3)->get()->map(function($item){
        $item->content = str_limit(strip_tags($item->content), 90);
        $item->href = $item->slug;
        return $item;
    });
}
?>
==
<div class="container mission">
    <div class="row">
        <div class="col-md-6 col-xs-12 data-aos">
            <span class="subtitle">Our Mission</span>
            {% component 'jumbotron' %}
            <a href="{{'about'|page}}" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="{{'mission.png'|media}}">
        </div>
    </div>
</div>
{% if highlights.count %}
<!-- latest from news -->
<div class="container-fluid highlights-news bg-secondary">
    <div class="container">
        <span class="subtitle">News</span>
        <h1 class="display-1">Our latest news</h1>
    </div>
    <div class="news-carousel">
        {% for highlight in highlights %}
        <div class="home-news-highlights">
            <div class="row news-item">
                <div class="col-md-4 col-xs-12 home-news-cover">
                    <a href="/news/{{highlight.slug}}">
                        <img src="{{ highlight.cover.thumb(199, 200, {'mode': 'crop'})}}" alt="{{ highlight.title }}">
                    </a>
                </div>
                <div class="col-md-8 col-xs-12 news-content">
                    <a href="/news/{{highlight.slug}}"><div class="news-title">{{ highlight.title|length > 40 ? highlight.title|slice(0, 40)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : highlight.title|replace({"&nbsp;": " ", ".": ". "})  }}</div></a>
                    <p class="news-date">{{ highlight.published_at|date('d M Y') }}</p>
                    <div class="news-description">{{ highlight.content | raw }}</div>
                    <div class="row read-more-row">
                        <a href="/news/{{highlight.slug}}" class="read-more">{{'Read more' |_}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container center-xs">
        <a class="btn btn-primary view_all" href="{{'news'|page}}">View all <i></i></a>
    </div>
</div>

{% endif %}
