url = "/media-center/brand-kit"
layout = "default"
title = "Brand kit"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList mediaLogosList]
modelClass = "pensoft\Media\Models\MediaLogos"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\MediaLogos;
use System\Models\File;

function onStart(){
	$this['mediaLogosList'] =  MediaLogos::get();
	if(get('download')){
		$file = File::find((int)get('download'));
		$file_name = $file->getLocalPath();

$ext= $file->getExtension();
$recordName = get('file_name') ? get('file_name') : 'OBSGESSION_logo.'.$ext;

if (file_exists($file_name)) {
header('Content-Description: File Transfer');
header('Content-Type: application/octet-stream');
header("Content-Type: application/force-download");
header('Content-Disposition: atntachment; filename='.$recordName);
header('Content-Transfer-Encoding: binary');
header('Expires: 0');
header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
header('Pragma: public');
header('Content-Length: ' . filesize($file_name));
ob_clean();
flush();
readfile($file_name);
exit();
}
return Redirect::to('/logo');
}
}

function onDownloadFile(){
$file = File::find(post('id'));
$pathToFile = $file->getLocalPath();
$fileName = $file->file_name;
$fileType = $file->content_type;
$headers = [
'HTTP/1.1 200 OK',
'Pragma: public',
'Content-Type: '.$fileType,
'Content-Type: application/force-download'
];

return Response::download($pathToFile, $fileName, $headers);
}
?>
==
<h1 id="brand-kit-heading" class="underline">Brand kit</h1>
<main id="main-content" role="main">
    <section class="container" aria-labelledby="brand-kit-heading">


        {% set records = mediaLogosList %}
        {% set displayColumn = mediaLogosList.displayColumn %}
        {% set noRecordsMessage = mediaLogosList.noRecordsMessage %}
        {% set detailsPage = mediaLogosList.detailsPage %}
        {% set detailsKeyColumn = mediaLogosList.detailsKeyColumn %}
        {% set detailsUrlParameter = mediaLogosList.detailsUrlParameter %}

        {% if records.count() %}
        <div class="row">
            {% for record in records %}
            {% spaceless %}
            {% if record.logo_image %}

            <article class="col-md-4 col-xs-12 mb-4">
                <div class="logo-container {{record.name}}">
                    <img src="{{record.logo_image.path}}" alt="{{record.name}} logo">
                </div>
                <h2 class="text-center">Download {{record.name}}</h2>
                <div class="links">
                    {% if record.file_jpg %}
                    <a href="{{ url('download/' ~ record.file_jpg.id ~ '/' ~ record.file_jpg.file_name|url_encode) }}"
                       download="{{record.file_jpg.file_name}}"
                       class="btn btn-primary btn-download matomo-download"
                       aria-label="Download {{record.name}} logo in JPG format">JPG</a>
                    {% endif %}

                    {% if record.file_png %}
                    <a href="{{ url('download/' ~ record.file_png.id ~ '/' ~ record.file_png.file_name|url_encode) }}"
                       download="{{record.file_png.file_name}}"
                       class="btn btn-primary btn-download matomo-download"
                       aria-label="Download {{record.name}} logo in PNG format">PNG</a>
                    {% endif %}

                    {% if record.file_eps %}
                    <a href="{{ url('download/' ~ record.file_eps.id ~ '/' ~ record.file_eps.file_name|url_encode) }}"
                       download="{{record.file_eps.file_name}}"
                       class="btn btn-primary btn-download matomo-download"
                       aria-label="Download {{record.name}} logo in SVG vector format">SVG</a>
                    {% endif %}

                    {% if record.file_pdf %}
                    <a href="{{ url('download/' ~ record.file_pdf.id ~ '/' ~ record.file_pdf.file_name|url_encode) }}"
                       download="{{record.file_pdf.file_name}}"
                       class="btn btn-primary btn-download matomo-download"
                       aria-label="Download {{record.name}} logo in PDF format">PDF</a>
                    {% endif %}

                    {% if record.file_zip %}
                    <a href="{{ url('download/' ~ record.file_zip.id ~ '/' ~ record.file_zip.file_name|url_encode) }}"
                       download="{{record.file_zip.file_name}}"
                       class="btn btn-primary btn-download matomo-download"
                       aria-label="Download {{record.name}} logo in ZIP format">ZIP</a>
                    {% endif %}
                </div>
            </article>
            {% endif %}

            {% endspaceless %}
            {% else %}
            <div class="col-xs-12 text-center" role="status">
                <p>{{ noRecordsMessage }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</main>
